.container {
  padding: 0 2rem;
}

.title {
  text-align: center;
}

.welcome {
  text-align: center;
  margin-bottom: 50px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  text-align: center;
}

.cardTitle {
  font-size: 20px;
}

.cardButton {
  font-size: 25px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.cardImg {
  width: 300px;
  height: 300px;
}